[tool.poetry]
name = "sphinx-docsearch"
version = "0.0.1"
description = "A Sphinx extension for replacing the built-in search with Algolia DocSearch"
authors = ["Algolia"]
license = "MIT"
readme = "README.md"
packages = [
  {include = "sphinx_docsearch", from = "src"}
]
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Extension',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]

[tool.poetry.dependencies]
python = "^3.8"
sphinx = "^6.2.1"

[tool.poetry.group.lint.dependencies]
ruff = "*"
black = "*"

[tool.poetry.group.docs.dependencies]
sphinx-autobuild = "^2021.3.14"
python-dotenv = "^1.0.0"
furo = "^2023.5.20"
myst-parser = "^1.0.0"
sphinx_rtd_theme = "^1.2.2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
beautifulsoup4 = "^4.12.2"
pytest-cov = "^4.0.0"
mypy = "^1.2.0"
types-beautifulsoup4 = "^4.12.0.4"
nox = "^2023.4.22"
httpx = "^0.24.1"

[tool.coverage.path]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["sphinx_docsearch"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
show_error_codes = true
show_error_context = true
pretty = true
strict = true
show_column_numbers = true
warn_unreachable = true
warn_unused_ignores = true

[tool.ruff]
select = ["E", "F", "B", "Q", "W", "I", "C90", "D", "UP", "YTT", "S", "ANN", "SIM", "N"]
# Ignore conflicting rules
ignore = ["D203", "D213", "E501"]
target-version = "py38"
extend-exclude = ["*.pyi"]

[tool.ruff.per-file-ignores]
"tests/*" = ["S101"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
