name: CI
on:
  push:
    branches: [main]
    tags:
      - "*.*.*"
  pull_request:
jobs:
  docs:
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.14"
        theme: ["alabaster", "awesome", "furo", "pydata", "rtd"]
    name: Build docs with ${{ matrix.theme }} theme on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install nox
        run: uv tool install nox --with=nox_uv
      - name: Build docs with ${{ matrix.theme }}
        run: nox -p ${{ matrix.python-version }} -s docs -- -t ${{ matrix.theme }}
        env:
          DOCSEARCH_APP_ID: test
          DOCSEARCH_API_KEY: test
          DOCSEARCH_INDEX_NAME: test
  test:
    strategy:
      matrix:
        python-version: ["3.9", "3.14"]
    name: Test with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install nox
        run: uv tool install nox --with=nox_uv
      - name: Run workflow
        run: nox -p ${{ matrix.python-version }}
        env:
          DOCSEARCH_APP_ID: test
          DOCSEARCH_API_KEY: test
          DOCSEARCH_INDEX_NAME: test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Install nox
        run: uv tool install nox --with=nox_uv
      - name: Lint Python code
        run: nox -s lint
  linkcheck:
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Install nox
        run: uv tool install nox --with=nox_uv
      - name: Check links
        run: nox -s check_links
  build:
    name: Build the package
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
      - docs
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Build packages
        run: uv build
      - uses: actions/upload-artifact@v6
        with:
          name: python-packages
          path: dist/
  publish:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: python-packages
          path: dist/
      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
